

.Item__Card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 70px 50px 30px;
    grid-template-areas: "image" "texto" "price" "btn";
    border-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    &:hover {
        transform: scale(1.01);
        transition: all 0.2s ease-out;
        box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.6);
    }

    .Item__img{
        grid-area: image;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;
        
        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 300px;
            height: 210px;
        }
    }

    .Item__text{
        grid-area: texto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #03091Fff;

        h3 {
            margin-top: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
            color: #A68DDAff;
        }

        p {
            color: #A68DDAff;
            font-size: 15;
            font-weight: 300;
        }
    }


    .Item__price{
        grid-area: price;
        font-size: large;
        background: #3B1B95ff;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .Item__btn{
        grid-area: btn;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #03091Fff;
        color: white;

        // &:hover{
        //     transition: margin-right 2s, color 1s;
        //     color: #03091Fff;
        //     background-color: white;
        // }
    }
}