*{
    margin: 0%;
    border: 0px;
}

.contenedor {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.catalogo__contenedor {
    background: #A68DDAff;
    border: solid;
    border-color: #3B1B95ff;
    border-radius: 30px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.catalogo__titulo {
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
}

.catalogo__parrafo {
    font-size: large;
    color: aliceblue;
    display: flex;
    justify-content: center;
}