*{
    margin: 0%;
    border: 0px;
}



.catalogo__contenedor {
    background: #A68DDAff;
    border: solid;
    border-color: #3B1B95ff;
    border-radius: 30px;
    width: 1200px;
    display: flex-wrap;
    justify-content: center;
}

.catalogo__titulo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
}

.catalogo__parrafo {
    font-size: large;
    color: aliceblue;
    display: flex;
    justify-content: center;
}