*{
    margin: 0%;
    border: 0px;
}

.item__title {
    background: linear-gradient(#03091Fff, #A68DDAff);
    color: whitesmoke;
    padding-left: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.galeria{
    display: flex;


    .galeria__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}


