*{
    margin: 0%;
    border: 0px;
}

.item__title {
    background: linear-gradient(#03091Fff, rgb(190, 167, 241));
    color: white;
    padding-left: 15px;
}

.galeria{
    display: flex;


    .galeria__item{
        display: flex;
        flex-wrap: wrap;
    }
}


